<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectapi">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logodota"
        android:label="API Dota 2"
        android:roundIcon="@drawable/logodota"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectApi">
        <activity
            android:name=".MainActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".about_us"
            android:exported="false">
        </activity>
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>